#canvas-holder {
  margin: 20px auto;
}
#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(30, 30, 30, .8);
  color: white;
  padding: 3px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.chartjs-tooltip-key {
  display:inline-block;
  width:10px;
  height:10px;
}
.chartjs-tooltip-value>.tooltip.prevweek {
  color: #999;
}
/* TABLE OF STATS */
table.stats {
  border: 1px solid black;
  border-collapse:collapse;
  font-size:8pt;
}
table.stats th, table.stats td {
  border: 1px solid black;
}
table.stats th.dow, table.stats td.dow {
  text-align:center;
}
table.stats th.fst, table.stats td.fst {
  border-left-width:2px;
}
table.stats th.nobusday, table.stats td.nobusday {
  background-color:#DDDDDD!important;
}
table.stats th.busday, table.stats td.busday {
}
table.stats th.month, table.stats td.month {
  text-align:center;
  color:#FFF;
  background-color:#333;
}
table.stats th.day, table.stats td.day {
  text-align:center;
}
table.stats th.total, table.stats td.total {
  min-width:24px;
  border-color:#000;
  text-align:right;
}
table.stats th.actions, table.stats td.actions {
  border-right-color:#999!important;
}
table.stats th.calls, table.stats td.calls {
  border-left-color:#999!important;
}
table.stats th.total.empty, table.stats td.total.empty {
  background-color:#CCD1FF;
}
table.stats th.totaltotal, table.stats td.totaltotal {
  border-color:#000;
  min-width:24px;
  text-align:right;
}
table.stats th.actions, table.stats td.actions {
  color:#417087;
}
table.stats th.calls, table.stats td.calls {
  color:#854040;
}
table.stats th.actions.empty, table.stats td.actions.empty {
  background-color:#CCD1FF;
}
table.stats th.calls.empty, table.stats td.calls.empty {
  background-color:#FFE2E2;
}
table.stats th.group, table.stats td.group {
  text-align:right;
}
table.stats th.grouptotal, table.stats td.grouptotal {
  border-color:#000;
  text-align:right;
}
