/*
Main theme colors:
Grey: #B3B3B3
Blue: #11B4EB;
*/

/* general */
body {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #000000;
  cursor:default;
  height:650px;
}
pre {
  background-color: #FFF;
}
a:hover{
  background:#11B4EB;
  color:#fff;
}
#header a:hover{
  background:none;
}
.form-label{
  font-weight: bold;
}
a, .blue {
  color: #11B4EB;
}
form {
  display: inline;
}
hr {
  border: 0;
  color: #ccc;
  height: 1px;  
  border: 1px dotted #cccccc;
  margin:8px;
}
.footer {padding-top:20px;
    padding-bottom:20px;
    font-size:10px;
    color:#393838;
}
::selection {
  background: #11B4EB; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #11B4EB; /* Gecko Browsers */
  color:#fff;
}
.content {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 10px;
    color: #000000;
    width: 100%;
    padding: 20px;
}
/* inputs */
input{
  border-radius:10px;
}

a.bli{background:url(../images/icon_links.png) 0 0;cursor:pointer;display:block;float:left;height:17px;width:26px}
a.ccs{background:url(../images/icon_links.png) -26px 0;cursor:pointer;display:block;float:left;height:17px;width:31px}
a.sim{background:url(../images/icon_links.png) -57px 0;cursor:pointer;display:block;float:left;height:17px;width:26px}
a.bli:hover{background-position:0 -17px}
a.ccs:hover{background-position:-26px -17px}
a.sim:hover{background-position:-57px -17px}

/* Log In Page */
#panel_login label{
  font-size:10pt;
  color:#B3B3B3;
}
#panel_login h2{
  text-align:center;
  color:#B3B3B3;
}
#btnLogin{
  width:100%;
  margin-top:20px;
}

/* Pagination */
.pagination-numbers{
  background: #11B4EB;
  height:30px;
  color:#fff;
}
.pagination-numbers a{
  background:#fff;
  padding:7px 10px;
  margin: 0 -2px;
}
.pagination-numbers a:hover{
  background-color: #11B4EB;
  color: #fff;
}

.tableModifyTheme th{
  text-align:left;
}


/** Tables **/
table{
  width:100%;
}
table{
  border-color:#DEDEDE;
}
table th, table td{
  padding:5px;
}
.tableMain th{
  text-align:center;
  font-size:10pt;
}
.tableMain td{
  font-size:9pt;
}
.tableMain thead th, .tableMain tbody td{
  padding:5px;
}
.table-numbers{
  text-align:right;
}
#slots table{
  width:65%;
  border-collapse:separate;
  border-spacing: 5px;
}
.icon-link:hover{
  color:#11B4EB;
  background:none;
}
i.fa{
  font-size: 25px;
}
a.form-control{
  width:20%;
  text-align: center;
  display:table;
}
.tableForm th, .tableForm td, .tableStatsLog th, .tableStatsLog td, #tblAdditionalGuests th, #tblAdditionalGuests td{
  padding:5px;
}
.tableForm th{
  background:#B5B5B5;
  color:rgba(0, 0, 0, 0.75);
}
.pagingNumbers{
  padding-left:20px;
  padding-right:20px;
  font-size:12pt;
  font-weight:bold;
  padding-top:8px;
}
.pagingNumbers a{
    padding: 5px 8px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin: 5px 1px 5px 1px;
    font-size: 11pt;
}
img.pointer:hover{
  cursor:pointer;
  background:#29C9FF;
}
input[type="submit"].form-control:hover{
  background-color:#11B4EB;
  color:#fff;
}
input[type="button"].form-control:hover{
  background-color:#11B4EB;
  color:#fff;
}
.adminMenu{
  background-color:#434343;
}
.normalMenu{
  background-color: #595959;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}
.calendarAction{
  width:20px;
  height:20px;
  opacity:0.6;
  float:right;
}
.calendarAction:hover{
  cursor:pointer;
  opacity:1;
}
.ui-icon.ui-icon-info.red{
  background-image: url(../img/jquery-ui/ui-icons_cd0a0a_256x240.png);
}
.ui-widget.div_alert{
    position: absolute;
    top: 0%;
    left: 34%;
    background: rgb(0,191,255);
    border-radius: 10px 0;
    width:426px;
    
    
}
/* tables 
.dataColumnsFrame{margin-top: 15px; width:600px; height:140px; border:1px solid; color: #5d5e5d; padding: 10px;}
.headerSortUp th:hover {cursor:pointer;}
cursor:pointer
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
e2e0e0
*/
/* tables */
/* tables */
