body{margin:0 0; background-color:#FFF; background-image:url(../images/bg-page-gradient.gif); background-repeat:repeat-x}
#sitecontainer{background:url(../images/bg.jpg) no-repeat top center;width:700px;margin:0 auto;position:relative;padding:50px 50px;min-height:710px}
body, td {font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;color:#616161}
h1, h2, h3, h4, h5, h6 {display: inline}
#panel_login {width: 500px}
a.fg-button {text-decoration: none;padding:0 3px}
#frmLogout {display:inline}
a,a:visited,a:hover,a:active{color:blue;}

th{text-align:left}
.page_first{background:url(../images/paging_first.gif) top left no-repeat; height:25px; width:42px; position:relative}
.page_prev{background:url(../images/paging_previous.gif) top left no-repeat; height:25px; width:42px; position:relative}
.page_next{background:url(../images/paging_next.gif) top left no-repeat; height:25px; width:42px; position:relative}
.page_last{background:url(../images/paging_last.gif) top left no-repeat; height:25px; width:42px; position:relative}
a.fillspace{outline:none; border:0; display:block; height:100%; width:100%; text-decoration:none; cursor:pointer; z-index:9999; position:absolute; height:100%; width:100%; top:0; left:0}

.shadow-top{background:url(../images/bg-page-shadow-top.gif); background-repeat:no-repeat; vertical-align:bottom; text-align:center; font-size:1px; height:20px}
.shadow-left{background:url(../images/bg-page-shadow-left.gif); background-repeat:no-repeat; vertical-align:top; text-align:right; font-size:1px; width:20px}
.shadow-right{background:url(../images/bg-page-shadow-right.gif); background-repeat:no-repeat; vertical-align:top; text-align:left; font-size:1px; width:20px}
.page{background-color:#FFF; padding:30px}
.col-left{vertical-align:top; width:512px}
h1{font-size:16pt}
.col-right{vertical-align:top; text-align:right; width:168px}
hr{border-collapse:collapse;border: 2px solid #D1D1D1}
#footer {color:#b2b2b2; font-size:10px}
#footer a{color:#b2b2b2}
#footer a:hover{color:#7f7f7f}
/* FORM ELEMENTS */
.form-row TD{padding-bottom:5px}
.checkbox, .radio{width:28px; height:28px; padding:0 5px 0 0; background:url(../images/checkbox.gif) no-repeat; display:inline; float:left}
.radio{background:url(../images/radio.gif) no-repeat}
.textarea{background:url(../images/bg-input-multiline.gif); border:1px solid #c8c8c8; height:110px}
.input{background:url(../images/bg-input.gif); border:1px solid #c8c8c8; width:300px; height:23px; padding:0}
.readonly {color:#999}

.select{position:absolute; width:158px; /* With the padding included,the width is 190 pixels:the actual width of the image. */height:21px; padding:0 24px 0 8px; color:#fff; font:12px/21px arial,sans-serif; background:url(../images/select.gif) no-repeat; overflow:hidden}

